@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

a{
    color: #101828;
} 
.twitt{
    color: #101828;
}
.task__content-link__container{
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
}
.task__content-links:hover{
    background-color: #D0D5DD;
}

.task__content-links{
display: flex;

padding: 24px 0;
justify-content: center;
align-items: center;

background: #EAECF0;

border-style: none;
border-radius: 8px;
margin-bottom: 1rem;


}

.task__content-links button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    
    border-style: none;
    background-color: unset;
    align-items: center;
    text-align: center;

} 
@media screen and (max-width: 550px){
    .task__content-links button{
    font-family: 'Inter';
font-style: normal;
font-weight: bolder;
font-size: 14px;
line-height: 20px;

}
    
}
@media screen and (max-width: 330px){
.task__content-link__container{
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
    padding: 0;

    margin-bottom: 2rem;
}
.task__content-links{
    display: flex;
    
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    
    background: #EAECF0;
    
    border-style: none;
    border-radius: 8px;
    margin: 1rem;
    margin-bottom: 0.2rem;
    
    
    }
    .task__content-links button{
        font-family: 'Inter';
        font-style: normal;
        font-weight: bolder;
        font-size: 10px;
        color: #101828;
        border-style: none;
        background-color: unset;
        align-items: center;
        text-align: center;
    
    }    

}